<div xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-footer" style="background-color: rgb(231, 231, 231)" >
<script src="https://kit.fontawesome.com/a7dbd1cbd9.js" crossorigin="anonymous"></script>

<footer class="bg-light text-center mb-0" >

  <div class="container p-4">
    <section class="mb-4">
      <a  target="_blank" class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/pogoparis/ENI_Encheres" role="button"><i class="fab fa-github" ></i></a>
    </section>
    <section class="mb-4">
      <p>
        Avec Encherry, la vie est plus belle quand j'enchéris !
      </p>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-dark" href="http://localhost:8080/encheres">Encherry.com</a>
  </div>
</footer>
<!-- Footer -->


</div>