<header xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-entete">
  
   <nav id="navbar" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container">
        <a class="navbar-brand" href="/">ENI Enchères</a>
    	<div class="collapse navbar-collapse" id="navbarColor01">
         <ul class="navbar-nav me-auto">
          <li class="nav-item">
          	<a class="nav-link " href="/encheres">Enchères</a>
          </li>
          <li class="nav-item">
          	<a class="nav-link " th:href="@{/creerarticle}">Vendre Article</a>
          </li>
          <li class="nav-item" data-th-if="${#authorization.expression('isAnonymous()')}">
          	<a class="nav-link" href="/login">Se Connecter</a>
          </li>
          <li class="nav-item" data-th-if="${#authorization.expression('isAuthenticated()')}">
          	<a class="nav-link " href="/logout">Déconnecter</a>
          </li>
          <li class="nav-item" data-th-if="${#authorization.expression('isAnonymous()')}">
          	<a class="nav-link " th:href="@{/inscription}">S'inscrire</a> </li>
          <li class="nav-item" data-th-if="${#authorization.expression('isAuthenticated()')}">
          	<a class="nav-link " th:href="@{/moncompte}">Mon Compte</a>
          	</li>
        </ul>
        </div>
       </div> 
      </nav>
</header>



