<header xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-entete">
 
  <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">
      <a class="navbar-brand" href="/">ENI Enchères</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="/encheres">Enchères</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/creerarticle}">Vendre Article</a>
          </li>
          <li class="nav-item" data-th-if="${#authorization.expression('isAnonymous()')}">
            <a class="nav-link" href="/login">Se Connecter</a>
          </li>
          <li class="nav-item" data-th-if="${#authorization.expression('isAuthenticated()')}">
            <a class="nav-link" href="/logout">Déconnecter</a>
          </li>
          <li class="nav-item" data-th-if="${#authorization.expression('isAnonymous()')}">
            <a class="nav-link" th:href="@{/inscription}">S'inscrire</a>
          </li>
          <li class="nav-item" data-th-if="${#authorization.expression('isAuthenticated()')}">
            <a class="nav-link" th:href="@{/moncompte}">Mon Compte</a>
          </li>
        </ul>
        <div class="ml-auto">
          <div class="nav-link" data-th-if="${#authorization.expression('isAuthenticated()')}">
            <span style="color:white;" class="me-sm-2" th:text="${'Pseudo utilisateur : '+ #authentication.name}"></span>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
