<header xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-entete">
    <div class="container">
      <h1>Enchères</h1>
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ENI Enchères</a>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
          </li>
          <li class="nav-item"><a class="nav-link " href="/encheres">Enchères</a></li>
          <li class="nav-item"><a class="nav-link " th:href="@{/creerarticle}">Vendre Article</a></li>
          <li class="nav-item"><a class="nav-link " th:href="@{/login}">Se Connecter</a></li>
          <li class="nav-item" data-th-if="${#authorization.expression('isAuthenticated()')}">
          <a class="nav-link " href="/logout">Déconnecter</a>
          </li>
          <li class="nav-item"><a class="nav-link " th:href="@{/inscription}">S'inscrire</a> </li>
          <li class="nav-item"><a class="nav-link " th:href="@{/profil}">Profil</a></li>
        </ul>
      </nav>
    </div>
</header>