<footer xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-footer" style="background-color: rgb(231, 231, 231)" >
<script src="https://kit.fontawesome.com/a7dbd1cbd9.js" crossorigin="anonymous"></script>


<div style="padding-right: 10px;">



<div class="row">
<span style="display:block; height: 10px" class="text-danger col-6"></span>
<h1 style="text-align: right; color: #f3969a;">Encherry inc.</h1>
</div>

<div class="row">

<a href="https://github.com/pogoparis/ENI_Encheres" style="text-decoration: none; color: #78c2ad; text-align: right;" target="_blank " > <i class="fa-brands fa-github"></i> github</a>
<span style="display:block; height: 10px" class="text-danger col-6"></span>

<span>
<p style="text-align: center; color: #78c2ad;" >Copyright 2023 ©</p>
</span>
</div>



</div>

<style>
footer{

position:absolute;
   bottom:0;  /* on le colle en bas */
   width:100%;
   
}
</style>


</footer>