@charset "UTF-8";

/* @import */
/* 	url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap') */
/* 	; */

/* html* { */
/* 	font-family: 'Delicious Handrawn', cursive !important; */
/* } */

/* .lien:hover { */
/* 	transform: scale(1.1); */
/* 	cursor: pointer; */
/* 	transition: all .35s; */
/* } */



#navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
