<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/css/style.css">
<title>Detail article</title>
<link rel="icon" type="image/x-icon" href="/Images/images.ico">
</head>
<body>
<div data-th-replace="~{fragments/fragment-entete :: frag-entete}"></div>

<div class= "d-inline-block col-4 border">
    			<h2>Article n°<span  th:text="${article.getNo_article()}"></span> : <span th:text="${article.getNom_article()}"></span></h2>
    			<br><p> Description : <span th:text="${article.getDescription()}"></span></p>
    			<p> Début de l'enchère : <div th:text="${article.getDate_debut_encheres()}"></div></p>
    			<p> Fin de l'enchère : <span th:text="${article.getDate_fin_encheres()}"></span></p>
    			<p> Prix de départ : <span th:text="${article.getPrix_initial()}"></span> pts</p>
    			<p> Prix de vente : <span th:text="${article.getPrix_vente()}"></span> pts</p>
    			<p> Categorie : <span th:text="${article.getCategorie()}"></span></p>
    			<p> Utilisateur : <a th:href="@{/details(pseudo=${article.getUtilisateur().getPseudo()})}"><span th:text="${article.getUtilisateur().getPseudo()}"></span></a></p>
    		</div>
    		<div>
    		<h3>Lieu de retrait : </h3>
    		<p>
    		<span th:text="${retrait.getRue()}"></span></br>
    		<span th:text="${retrait.getCode_postal()}"></span>
    		<span th:text="${retrait.getVille()}"></span>
    		</p>
    		</div>
    		
    		<div th:if="${tokenAffichage}">
    		<form>
    		<input th:min="${article.getPrix_vente()+10}" th:max="${user.getCredit()}" step="10" type="number">
    		<button type="submit">ENCHERIR</button>
    		</form>
    		</div>

</body>
</html>