<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/css/style.css">
<title>Creation article</title>
</head>
<body>
<header>
    <div class="container">
      <h1>Enchères</h1>
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ENI Enchères</a>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
          </li>
          <li class="nav-item"><a class="nav-link " href="#">Enchères</a></li>
          <li class="nav-item"><a class="nav-link " th:href="@{/creerarticle}">Vendre Article</a></li>
          <li class="nav-item"><a class="nav-link " th:href="@{/login}">Se Connecter</a></li>
          <li class="nav-item"><a class="nav-link " href="#">Déconnecter</a></li>
          <li class="nav-item"><a class="nav-link " th:href="@{/profil}">Profil</a></li>
        </ul>
      </nav>
    </div>
    </header>
    
    <main>
    <div class="container">
     <form th:object="${articleVendu}">
        <fieldset>
            <legend>Creation d'article</legend>
            <div class="form-group row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="nom_article">Nom de l'article</label>
                        <input type="text" class="form-control" placeholder="Nom de l'article" id="nom_article" th:field="*{nom_article}" name="nom_article">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="description"> Description de l'article</label>
                        <textarea class="form-control" placeholder="Description de l'article en quelques mots" id="description" th:field="*{description}" name="description"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="genre">Choisissez une categorie</label> 
                        <select class="form-control" id="genre" th:field="*{categorie}">
							<option th:each="categorie:${categories}" th:text="${categorie.getLibelle()}" th:value="${categorie.getNo_categorie()}" th:selected></option>
						</select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="miseaprix">Mise à prix : </label> 
                        <input class="form-control" type="number" th:field="*{prix_initial}" name="miseaprix" id="miseaprix" min="100" max="3000">
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="date_debut">Debut de l'enchère : </label> 
                        <input class="form-control" type="date" th:field="*{date_debut_encheres}" name="date_debut" id="date_debut">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                       <label class="form-label mt-4" for="date_fin">Fin de l'enchère : </label> 
                        <input class="form-control" type="date" th:field="*{date_fin_encheres}" name="date_fin" id="date_fin">
                    </div>
                </div>
            </div>

			<form th:object="${retrait}">
        <fieldset>
            <legend>Adresse de retrait</legend>
            <div class="form-group row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="rue"> Nom de la rue</label>
                        <input type="text" class="form-control" placeholder="Nom de la rue" id="rue" th:field="*{rue}" name="rue">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="codepostal">Code Postal : </label> 
                        <input class="form-control" type="number" th:field="*{code_postal}" name="codepostal" id="codepostal" min="10000" max="99999">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="ville"> Ville </label>
                        <input type="text" class="form-control" placeholder="Ville" id="ville" th:field="*{ville}" name="ville">
                    </div>
                </div>
            </div>
            
           
            
			<button type="submit" class="btn btn-dark">Submit</button>
<button type="submit" class="btn btn-dark">Annuler</button>
			 </fieldset>
            </form>
        </fieldset>
    </form>
    
    </div>
    
    
    </main>
    

</body>
</html>