 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/css/style.css">
<title>Creation article</title>
<link rel="icon" type="image/x-icon" href="/Images/images.ico">
</head>
<body>
 <div data-th-replace="~{fragments/fragment-entete :: frag-entete}"></div>
    
    <main>
    
<!--      <div class="container"> -->
<!--         <div class="row"> -->
<!--             <div class="col-md-8 mx-auto"> -->
<!--                 <h2>Upload Image Example</h2> -->
<!--                 <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p> -->
<!--                 <form method="post" th:action="@{/upload}" enctype="multipart/form-data"> -->
<!--                     <div class="form-group"> -->
<!--                         <input type="file" name="image" accept="image/*" class="form-control-file"> -->
<!--                     </div> -->
<!--                     <button type="submit" class="btn btn-primary">Upload image</button> -->
<!--                 </form> -->
<!--                 <span th:if="${msg != null}" th:text="${msg}"></span> -->
<!--             </div> -->
<!--         </div> -->
<!--     </div> -->
    
    
    
    
    <div class="container">
     <form th:object="${articleVendu}" method="post" th:action="@{/creationarticle}" enctype="multipart/form-data">
        <fieldset>
            <legend>Creation d'article</legend>
            <div class="form-group row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="nom_article">Nom de l'article</label>
                        <input type="text" class="form-control" placeholder="Nom de l'article" id="nom_article" th:field="*{nom_article}" name="nom_article">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="description"> Description de l'article</label>
                        <textarea class="form-control" placeholder="Description de l'article en quelques mots" id="description" th:field="*{description}" name="description"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="genre">Choisissez une categorie</label> 
                        <select class="form-control" id="genre" th:field="*{categorie}">
							<option th:each="categorie:${categories}" th:text="${categorie.getLibelle()}" th:value="${categorie.getNo_categorie()}" th:selected></option>
						</select>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="miseaprix">Mise à prix : </label> 
                        <input class="form-control" type="number" th:field="*{prix_initial}" name="miseaprix" id="miseaprix" min="100" max="3000">
                    </div>
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="date_debut">Debut de l'enchère : </label> 
                        <input class="form-control" type="date" th:field="*{date_debut_encheres}" name="date_debut" id="date_debut">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                       <label class="form-label mt-4" for="date_fin">Fin de l'enchère : </label> 
                        <input class="form-control" type="date" th:field="*{date_fin_encheres}" name="date_fin" id="date_fin">
                    </div>
                </div>
            </div>

			<div th:object="${retrait}">
        <fieldset>
            <legend>Adresse de retrait</legend>
            <div class="form-group row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="rue"> Nom de la rue</label>
                        <input type="text" class="form-control" placeholder="Nom de la rue" id="rue" th:field="*{rue}" name="rue">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="codepostal">Code Postal : </label> 
                        <input class="form-control" type="text" th:field="*{code_postal}" name="codepostal" id="codepostal">
                    </div>
                </div>
            </div>
            <div class="form-group row">
                   <div class="col-sm-5">
                    <div class="form-group">
                        <label class="form-label mt-4" for="ville"> Ville </label>
                        <input type="text" class="form-control" placeholder="Ville" id="ville" th:field="*{ville}" name="ville">
                    </div>
                    </div>
                    <div class="col-sm-5">
                     <div class="form-group">
                        <label class="form-label mt-4" for="Image"> Image </label>
                         <input type="file" name="image" accept="image/*" class="form-control-file">
                    </div>
                    </div>
             </div>  
           </fieldset>
            </div>
                       
			<button type="submit" class="btn btn-dark">Submit</button>
			<a th:href="@{/encheres}"><button type="button" class="btn btn-dark" >Annuler</button></a>
			 
        </fieldset>
    </form>
    
    </div>
    
    
    </main>
    

</body>
</html>