<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<head>
<meta charset="UTF-8">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Horreur Malheur ! </h1>
<h3> Une erreur subtile est subrepticement survenue </h3>
     <p> que veux tu faire ? tu as le choix :</p>
       <form action="/encheres">
      <button type="submit">Retour à l'accueil</button>
       <button type="button">ou cliquer sur un bouton qui fait rien</button>
      
    </form>
  


</body>


</html>
