<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<title>Enchères</title>
</head>
<body>
  <header>
    <div class="container">
      <h1>Enchères</h1>
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ENI Enchères</a>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
          </li>
          <li class="nav-item"><a class="nav-link " href="#">Enchères</a></li>
          <li class="nav-item"><a class="nav-link " href="#">Vendre Article</a></li>
          <li class="nav-item"><a class="nav-link " href="#">Se Connecter</a></li>
          <li class="nav-item"><a class="nav-link " href="#">Déconnecter</a></li>
        </ul>
      </nav>
    </div>
    <div th:each="article:${listeArticles}">
    <h2>Article n°<span th:text="${article.getNo_article()}"></span> : <span th:text="${article.getNom_article()}"></span></h2>
    <p> Description : <span th:text="${article.getDescription()}"></span></p>
    <p> Début de l'enchère : <span th:text="${article.getDate_debut_encheres()}"></span></p>
    <p> Fin de l'enchère : <span th:text="${article.getDate_fin_encheres()}"></span></p>
    <p> Prix de départ : <span th:text="${article.getPrix_initial()}"></span> pts</p>
    <p> Prix de vente : <span th:text="${article.getPrix_vente()}"></span> pts</p>
    <p> Categorie : <span th:text="${article.getCategorie()}"></span></p>
    </div>
  </header>

</body>
</html>