<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<title th:text="${utilisateur.pseudo}">Pseudo</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="icon" type="image/x-icon" href="/Images/images.ico">
</head>

<body>
	<div data-th-replace="~{fragments/fragment-entete :: frag-entete}"></div>
	
	
<div class="container">
	<div class="list-group">
		<table class="table table-hover col-6" style="margin:auto">
			<tr class="table-light">
				<th class="border" scope="row">Nom</th>
				<td class="border" th:text="${utilisateur.nom}"></td>
			</tr>
			<tr class="table-light">
				<th class="border" scope="row">Prenom</th>
				<td class="border" th:text="${utilisateur.prenom}"></td>
			</tr>
			<tr class="table-light">
				<th class="border" scope="row">Email</th>
				<td class="border" th:text="${utilisateur.email}"></td>
			</tr>
			<tr class="table-light">
				<th class="border" scope="row">Rue</th>
				<td class="border" th:text="${utilisateur.rue}"></td>
			</tr>
			<tr class="table-light">
				<th class="border" scope="row">Code postal</th>
				<td class="border" th:text="${utilisateur.codePostal}"></td>
			</tr>
			<tr class="table-light">
				<th class="border" scope="row">Villes</th>
				<td class="border" th:text="${utilisateur.ville}"></td>
			</tr>
			<tr class="table-light">
				<th class="border" scope="row">Téléphone</th>
				<td class="border" th:text="${utilisateur.telephone}"></td>
			</tr>
						
		</table>
		
		
		
		
	</div> 
</div>
<div class="text-center m-3">
			<form th:action="@{/profil}" method="get">
				<button class="btn btn-dark" type="submit">Modifier</button>
		</div>
		</form>

<h2>Articles achetés</h2>
<div class="container-fluid">
<div class="row">
<div class="d-inline-flex col-6"  th:each="article:${articlesAchetes}">
<a class="lien" th:href="@{/article(id=${article.getNo_article()})}">
	<img style="width: 150px"
					class="pull-left img-responsive col-3  p-2 img-thumbnail"
					th:src="'/Images/'+${article.getNo_article()}+'.jpg'">
					</a>
					<div class="d-block">
			<h3 th:text="${article.getNom_article()}"></h3>
			<p> Prix d'achat : <span th:text="${article.getPrix_vente()}"></span> crédits</p>
			<p> Vendeur : <span th:text="${article.getUtilisateur().getPseudo()}"></span></p>
			</div>
			</div>
		</div>
		</div>

<h2>Encheres en cours</h2>
<div class="container-fluid">
<div class="row">
<div class="d-inline-flex col-6"  th:each="enchere:${listeEncheres}">
<a class="lien" th:href="@{/article(id=${enchere.getArticle().getNo_article()})}">
	<img style="width: 150px"
					class="pull-left img-responsive col-3  p-2 img-thumbnail"
					th:src="'/Images/'+${enchere.getArticle().getNo_article()}+'.jpg'">
					</a>
					<div class="d-block">
			<h3 th:text="${enchere.getArticle().getNom_article()}"></h3>
			<p> Meilleur enchérisseur : 
				<span style="color : green" th:if="${serviceEncheres.getMeilleureEnchereByArticle(enchere.getArticle()).getUtilisateur().getNo_utilisateur()} == ${utilisateur.getNo_utilisateur()}">OUI</span>
				<span style="color : red" th:if="${serviceEncheres.getMeilleureEnchereByArticle(enchere.getArticle()).getUtilisateur().getNo_utilisateur()} != ${utilisateur.getNo_utilisateur()}">NON</span>
				
			</p>
			<p> Montant proposé : <span th:text="${enchere.getMontant_enchere()}"></span> crédits</p>
			<p> Date de l'enchère : <span th:text="${enchere.getDate_enchere()}"></span></p>
			</div>
			</div>
		</div>
		</div>
		
<h2>Articles en vente</h2>
<div class="container-fluid">
<div class="row">
<div class="d-inline-flex col-6"  th:each="article:${articlesVendus}">
<a class="lien" th:href="@{/article(id=${article.getNo_article()})}">
	<img style="width: 150px"
					class="pull-left img-responsive col-3  p-2 img-thumbnail"
					th:src="'/Images/'+${article.getNo_article()}+'.jpg'">
					</a>
					<div class="d-block">
			<h3 th:text="${article.getNom_article()}"></h3>
			<p>Fin de la vente le : <span th:text="${article.getDate_fin_encheres()}"></span></p>
			<p th:if="${!serviceEncheres.getEncheresByArticle(article).isEmpty()}"> Meilleure enchère : <span th:text="${article.getPrix_vente()}"></span> crédits</p>
			<p th:if="${!serviceEncheres.getEncheresByArticle(article).isEmpty()}"> Dernier enchérisseur : <span th:text="${serviceEncheres.getMeilleureEnchereByArticle(article).getUtilisateur().getPseudo()}"></span></p>
			<p th:if="${serviceEncheres.getEncheresByArticle(article).isEmpty()}"> Prix proposé : <span th:text="${article.getPrix_vente()}"></span> crédits</p>
			<p th:if="${serviceEncheres.getEncheresByArticle(article).isEmpty()}"> Aucun enchérisseur pour le moment</p>
			
			</div>
			</div>
		</div>
		</div>		
		
</body>
</html>