<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
	<title>Profil Utilisateur</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="icon" type="image/x-icon" href="/Images/images.ico">
</head>

<body>
	<div data-th-replace="~{fragments/fragment-entete :: frag-entete}"></div>

	<div class="container">
		<form th:object="${utilisateur}" method="post" th:action="@{/register}">
			<fieldset>
				<input hidden type="number" data-th-field="*{no_utilisateur}" id="id">
				<div class="form-group row">
					<div class="col-sm-5">
						<div class="form-group">
							
							<label class="form-label mt-2" for="inputNom"> Pseudo</label> <input type="text"
								class="form-control" placeholder="Pseudo" id="inputPseudo" data-th-field="*{pseudo}"> <span
								style="display:block; height: 40px" class="text-danger col-6">
								<ul data-th-if="${#fields.hasErrors('pseudo')}">
									<li data-th-each="erreur: ${#fields.errors('pseudo')}" data-th-text="${erreur}"></li>
								</ul>
							</span>
		
<!-- 							<div th:if="${errorMessage}" class="error-message"> -->
<!--     							<span th:text="${errorMessage}"></span> -->
<!-- 							</div> -->
						</div>
					</div>
					<div class="col-sm-5">
						<div class="form-group">
							<label class="form-label mt-2" for="inputNom"> Nom</label> <input type="text"
								class="form-control" placeholder="Nom" id="inputNom" data-th-field="*{nom}"> <span
								style="display:block; height: 40px" class="text-danger col-6">
								<ul data-th-if="${#fields.hasErrors('nom')}">
									<li data-th-each="erreur: ${#fields.errors('nom')}" data-th-text="${erreur}"></li>
								</ul>
							</span>
						</div>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-sm-5">
						<div class="form-group">
							<label class="form-label mt-2" for="inputPrenom">Prenom</label> <input type="text"
								class="form-control" placeholder="Prenom" id="inputPrenom" data-th-field="*{prenom}">
							<span style="display:block; height: 40px" class="text-danger col-6">
								<ul data-th-if="${#fields.hasErrors('prenom')}">
									<li data-th-each="erreur: ${#fields.errors('prenom')}" data-th-text="${erreur}">
									</li>
								</ul>
							</span>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="form-group">
							<label for="inputEmail" class="form-label mt-2">Email
								address</label> <input type="email" class="form-control" id="inputEmail"
								aria-describedby="emailHelp" placeholder="Entrez votre email" th:field="*{email}"> <span
								style="height: 40px" class="text-danger col-6">
								<ul th:if="${#fields.hasErrors('email')}" class="col-6">
									<li data-th-each="erreur: ${#fields.errors('email')}" data-th-text="${erreur}"></li>
								</ul>
							</span>
						</div>
					</div>
				</div>


				<div class="form-group row">
					<div class="col-sm-5">
						<div class="form-group">
							<label for="inputrue" class="form-label mt-2">Rue</label> <input type="text"
								class="form-control" id="inputrue" placeholder="Nom de la rue"
								data-th-field="*{rue}"><span style="display:block; height: 40px"
								class="text-danger col-6">
								<ul data-th-if="${#fields.hasErrors('rue')}">
									<li data-th-each="erreur: ${#fields.errors('rue')}" data-th-text="${erreur}"></li>
								</ul>
							</span>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="form-group">
							<label class="form-label mt-2" for="inputCodePostal">Code
								Postal</label> <input type="text" class="form-control" placeholder="Code postal"
								id="inputCodePostal" th:field="*{codePostal}"> <span style="display:block; height: 40px"
								class="text-danger col-6">
								<ul data-th-if="${#fields.hasErrors('codePostal')}">
									<li data-th-each="erreur: ${#fields.errors('codePostal')}" data-th-text="${erreur}">
									</li>
								</ul>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-5">
						<div class="form-group">
							<label for="inputVille" class="form-label mt-2">Ville</label> <input type="text"
								class="form-control" id="inputVille" placeholder="Nom de la Ville"
								data-th-field="*{ville}">
							<span style="display:block; height: 40px" class="text-danger col-6">
								<ul data-th-if="${#fields.hasErrors('ville')}">
									<li data-th-each="erreur: ${#fields.errors('ville')}" data-th-text="${erreur}"></li>
								</ul>
							</span>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="form-group">
							<label for="inputTel" class="form-label mt-2">Telephone</label> <input type="text"
								class="form-control" id="inputTel" placeholder="Numéro de téléphone"
								data-th-field="*{telephone}">
							<span style="display:block; height: 40px" class="text-danger col-6">
								<ul data-th-if="${#fields.hasErrors('telephone')}">
									<li data-th-each="erreur: ${#fields.errors('telephone')}" data-th-text="${erreur}">
									</li>
								</ul>
							</span>
						</div>
					</div>
				</div>


				<div th:if="${utilisateur.getNo_utilisateur() == null}" class="form-group row">
					<div class="col-sm-5">
						<div class="form-group">
							<label for="inputPassword" class="form-label mt-2">Password</label>
							<input type="password" class="form-control" id="inputPassword" placeholder="Password"
								th:field="*{motDePasse}">
							<span style="display:block; height: 40px" class="text-danger col-6">
								<ul data-th-if="${#fields.hasErrors('motDePasse')}">
									<li data-th-each="erreur: ${#fields.errors('motDePasse')}" data-th-text="${erreur}">
									</li>
								</ul>
							</span>
						</div>
					</div>
				</div>
				<div data-th-if="${utilisateur.getNo_utilisateur() != null}" hidden class="form-group row">
					<div class="col-sm-5">
						<div class="form-group">
							<label for="inputPassword" class="form-label mt-2">Password</label>
							<input type="password" class="form-control" id="inputPassword" placeholder="Password"
								data-th-field="*{motDePasse}" value="*{motDePasse}">
							<span style="display:block; height: 40px" class="text-danger col-6">
								<ul data-th-if="${#fields.hasErrors('motDePasse')}">
									<li data-th-each="erreur: ${#fields.errors('motDePasse')}" data-th-text="${erreur}">
									</li>
								</ul>
							</span>
						</div>
					</div>
				</div>
				<a  th:href="@{/delete(id=${utilisateur.no_utilisateur})}" data-th-if="${#authorization.expression('isAuthenticated()')}">Supprimer</a>
				
				<div class="text-center m-4 col-10">
					<button type="submit" class="btn btn-primary" >Valider</button>
					<a th:href="@{/#focus}"><button type="button" class="btn btn-primary">Annuler</button></a>
				</div>
				
				
			</fieldset>
		</form>
		
				 
				
			

	</div>
	<div data-th-replace="~{fragments/fragment-footer :: frag-footer}"></div>
</body>

</html>